#include <dt-bindings/zmk/matrix_transform.h>
#include "clankerpad-layouts.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
        zmk,battery = &vbatt;          // <-- add this line
    };

    vbatt: vbatt {                     // <-- new node, same level as kscan0/encoder/etc
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 7>;
        output-ohms = <2000000>;
        full-ohms = <3000000>;
        power-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&xiao_d 3  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 5  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 8  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 7  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&xiao_d 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    default_transform: default_transform {
        compatible = "zmk,matrix-transform";
        columns = <1>;
        rows = <9>;
        map = <
            RC(0,0) RC(1,0) RC(2,0)
            RC(3,0) RC(4,0) RC(5,0)
            RC(6,0) RC(7,0)
            RC(8,0)
        >;
    };

    encoder: encoder {
        compatible = "alps,ec11";
        a-gpios = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
};

&adc {                                 // <-- outside the / { } block
    status = "okay";
};